.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.rdbg
*.header_hero

/docs/Gemfile
/docs/Gemfile.lock
/docs/_site

/logs
/LivePP
/build
/imgui.ini
/.cache
assets/imgui.ini
CrashDump.dmp
